@font-face {
  font-family: zamzam_pizza;
  src: url("../public/Gilroy-Medium_eHDK2RllDd.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;


}

body::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  height: 100%;
}

header {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.847);

}


nav {

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  margin-right: 50px;
  width: 100%;


}

#logo img {
  width: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;


}

nav a {
  font-size: 25px;
  font-weight: 300;
  font-family: zamzam_pizza;
  text-decoration: none;
  color: white;
  transition: ease-in cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

nav a:hover {
  color: rgb(232, 88, 88);
  transition: ease-in 0.5s;
}

#icon {
  display: none;
  font-size: 2rem;
  color: white;
  text-align: center;
  z-index: 999;
  transition: all ease-in 0.9s;
}

#icon>i:active {
  color: rgb(232, 88, 88);
  scale: 2;
}

#icon #overlay {
  position: absolute;
  top: 66%;
  left: 43%;
  z-index: 999;
  min-width: 100px;
  min-height: 200px;
}

#overlay {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

}

#overlay>nav {
  display: flex;
  flex-direction: column;
  z-index: 999;

}

#overlay>nav a {
  font-weight: 300;
  font-family: zamzam_pizza;
  text-decoration: none;
  color: white;
  transition: ease-in cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

#overlay>nav a:hover {
  color: rgb(232, 88, 88);
  transition: ease-in 0.5s;
}

section {

  display: flex;
  flex-direction: row;
  width: 100%;
}

.Swiper {
  width: 100%;
  height: 300px;


}

.swiper-pagination {
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: black;
}

.img img {
  width: 100vh;
  object-fit: contain;

}

#middle {
  width: 100vw;
  background: linear-gradient(60deg, rgb(224, 84, 84), rgba(95, 95, 196, 0.557));
}

.text {
  padding: 30px;
  color: white;
}


.text h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: zamzam_pizza;
}

.boxes {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-top: 2%;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 60%;
  overflow: hidden;
}

.box_2 {
  width: 200px;
  height: 200px;
  border-radius: 60%;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.box_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.boxes p:nth-child(2) {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 200;
  font-family: zamzam_pizza;
  margin-left: 50px;
margin-top: -9px;

}

.boxes p:first-child {
  position: absolute;
  font-size: 16px;
  font-weight: 200;
  font-family: zamzam_pizza;
  top: 85%;
  left: 15%;

}

footer {
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.contact {
  margin-left: 20px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connect {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;


}

.connect h4 {
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: black;
  margin-left: 20px;
}

.connect a {
  font-size: 1.6rem;
  font-weight: 100;
  text-decoration: none;
  margin-left: 4px;
  margin-bottom: 5px;
  color: black;
  margin-right: 20px;
}

.connect a:hover {
  color: rgb(197, 14, 14);
  border-bottom: 2px solid rgb(191, 99, 212);
  transition: ease-in-out 0.8s;
}

.connect>i {
  font-size: 1.6rem;
}

.instagram i {
  position: relative;
  right: 50%;
  top: 50%;
  padding: 20px;
  font-size: 3rem;
  background: linear-gradient(45deg, rgb(233, 6, 6), rgba(15, 15, 194, 0.557));
  display: inline;
  z-index: 999;
}

.instagram i {
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;

}

.whatsapp i {
  position: relative;
  left: -5%;
  top: -80%;
  padding: 20px;
  font-size: 3rem;
  background-color: green;
  display: inline;
  z-index: 999;
}

.whatsapp i {
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.address {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.address h2 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: zamzam_pizza;
}

.address a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;

}

.address>i {
  font-size: 1.6rem;

}

menu {
  width: 100vw;
  background: linear-gradient(60deg, rgb(224, 84, 84), rgba(95, 95, 196, 0.557));
  overflow-y: hidden;
  overflow-x: auto;

}

#menu img {
  width: 100vw;
  mix-blend-mode: multiply;
  background: transparent;
  text-align: center;
  object-fit: cover;
  object-position: center;
}

.title {
  width: 100%;
  padding: 20px;
}

.title h1 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  font-family: zamzam_pizza;
  margin-top: 10px;
  border-bottom: 1px solid violet;
  cursor: pointer;
}

.container {

  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.card {
  position: relative;
  margin: 10px;
  width: 200px;
  height: 270px;
  border-radius: 20px;
  flex-shrink: 0;
}

.card {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.card img {
  position: absolute;
  top: 10px;
  left: 45px;
  width: 98px;
  height: 98px;
  border-radius: 50px;
  text-align: center;
  object-fit: cover;
  
}
.card h3 {
  font-size: 1.3rem;
  margin-top: 113px;
  text-align: center;

}
.card p {
  font-size: .8rem;
  margin-top: 1px;
  text-align: center;
}
.card button {
  position: absolute;
  top:82%;
  padding: 6px;
  margin-left: 58px;
  border-radius: 5px;
}
.card button:hover {
  background-color: rgb(183, 127, 224);
  color: white;
  transition: all ease-in 0.5s;
  cursor: pointer;
}
#about{
  padding: 20px;
  display:flex ;
  align-items: center;
  justify-content: space-between;
  height: 67%;
  width: 100%;
}
#left{
  position: relative;
  width: 100%;

}
#left img{
  width: 400px;
 position: absolute;
top: -20%;
left: 50%; 
transform: translate(-50%,-56%);
}
#right{
  color: rgb(194, 78, 78);
  width: 100%;

}
#right ul{
position: absolute;
top: 32%;
right: 38%;
transform: translate(-50%,-50%);
}
#right h1{
  
position: absolute;
top: 20%;
right: -10%;
transform: translate(-50%,-50%);
font-size: 2rem;
font-weight: 400;
}
#right p{
  font-size: 0.8rem;
  font-weight: 200;
position: absolute;
top: 25%;
right: -12%;
transform: translate(-50%,-50%);
}
#btn{
 position: absolute;
  top: 45%;
  left: 65%; 
  padding: 8px 10px 8px 10px;
  font-size: 1rem;
}
button:hover{
  background-color: aqua;
  color: white;
  transition:all ease-in 0.6s ;
  border-radius: 15px;
  cursor: pointer;
}
.status{
  position: absolute;
  top: 53%;
  width: 100%;
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.text-status h3{
font-size: 1.6rem;
font-weight: 400;
text-align: center;
}
.text-status p{
font-size: 1rem;
font-weight: 400;
text-transform: uppercase;
}
#bottom{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30%;
}
.left-bottom{
  width: 100%;
  height: 100%;
  background-color: pink;
}
.left-bottom h1,p{
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.right-bottom{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 100%;

  gap: 20px;
}
.img-1{
  width: 100%;
height: 100%;
background-color: red;
border-radius: 20px;
}
.img-2{
  width: 100%;
height: 100%;
background-color: rgb(52, 147, 81);
border-radius: 20px;
}

#video{
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}
video{
  width: 800px;
  height: 360px;
  background-color: pink;
  border-radius: 20px;
}

@media (max-width:768px) {
  header {
    position: sticky;
    top: 0;
    z-index: 999;

  }

  nav a {
    display: none;
    cursor: pointer;
  }

  #overlay>nav a {
    display: inline;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
  }

  #overlay {
    display: none;
  }

  #icon {
    display: inline;
    font-size: 12vw;
    text-align: center;
    cursor: pointer;
  }

  #icon>i {
    font-size: 2rem;

  }


  .Swiper {
    width: 100vw;
    height: 200px;

  }

  .img {
    width: 100vw;

  }

  .img img {
    width: 100%;
  }

  #middle {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .text {
    position: absolute;
    top: 43%;
  }

  .text h1 {
    font-size: 1.6rem;
    margin-top: 37px;
  }

  .boxes {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;


  }

  .box {
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: -10px;
  }

  .box_2 {
    width: 150px;
    height: 150px;

  }

  .boxes p:nth-child(2) {
       margin-left: 20px;
        margin-top: -6px;
        white-space: nowrap;
  }

  #hidden {
    display: none;
  }

  #hidden_2 {
    display: none;
  }

  .contact {
    display: flex;
    flex-direction: column;

  }

  .instagram i {
    position: relative;
    top: -18px;
    margin-left: 236px;
    font-size: 1.8rem;
  }

  .whatsapp i {
    position: relative;
    top: -65px;
    margin-left: 200px;
    font-size: 1.8rem;

  }

  .connect {
    margin-bottom: -73px;
  }

  .connect h4 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3px;
  }

  .connect a,
  i {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .address {

    margin-top: 3rem;
  }

  .address h2 {
    font-size: 1.6rem;
  }

  .address h5 {
    font-size: 0.9rem;
    display: inline;

  }

}